.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

button{
    font-weight: bold;
    font-size: 30px;
    padding:10px;
}

body{
    font-family: Arial;
}